<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Products Page</title>

    <link rel="stylesheet" href="./user/css/navbar.css" />
    <link rel="stylesheet" href="./user/css/searchpage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Mochiy+Pop+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/f796e2f633.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="nav_container"></div>
    <div id="container"></div>

    <div id="searchResults">
      <div id="searchResultsSmallerText">Search Results</div>

      <div id="forFlexSake">
        <i class="fa fa-search"></i>

        <div id="searchResultsBiggerText">SEARCH RESULTS</div>
      </div>
    </div>

    <div id="searchResultsBox">
      <span>
        <p><%=products.length%> RESULTS FOR : <%=search_txt.toUpperCase()%></p>
      </span>
    </div>

    <div id="searchResultsBigDiv">
      <span style="display: flex">
        <div id="searchResultsLeftContainer">
          <div id="refineByBrands">
            <div id="refineByBrandsText">Refine By Brands</div>

            <div id="refineByBrandsBox">
              <form>
                <% for(let i=0;i<brands.length;i++){ %>
                  <input type="checkbox" class="brand" onchange="sortByBrand()" value="<%=brands[i].brand_name%>" /> <%=brands[i].brand_name%><br/><br/>
                <% } %>
              </form>
            </div>
          </div>
          <div id="showByCategory">
            <div id="showByCategoryText">Show By Category</div>

            <div id="showByCategoryBox">
              <form>
                <% for(let i=0;i<types.length;i++){%>
                <input type="checkbox" class="type" onchange="sortByType()" value="<%=types[i].type_name%>" /> <%=types[i].type_name%>  <br /> <br />
                <%}%>
              </form>
            </div>
          </div>

          <div id="showBySpecials">
            <div id="showBySpecialsText">Show By Price</div>

            <div id="showBySpecialsBox">
              <br/>
              <form>
                <input type="radio" onchange="sortByPrice()" value="lth" name="sort_price" id="lth"/> <label for="lth"> Low to High</label><br/><br/>
                <input type="radio" onchange="sortByPrice()" value="htl" name="sort_price" id="htl"><label for="htl"> High to Low</label><br/>
              </form>
            </div>
          </div>
        </div>
        <div id="main_item_list">
          <% products.forEach(item => { %>
          <div
            id="searchResultsRightContainer"
            onclick="redirectToPage('<%=item._id%>')"
          >
            <span style="display: flex">
              <div class="productListRow">
                <span>
                  <div class="productListRowText">
                    <%=item.brand_id.brand_name%>
                    <br />
                    <%=item.product_name%>
                    <br />
                    <%=item.size[0]%>
                  </div>

                  <img src="<%=item.image_url_1%>" alt="" />

                  <div class="discountNoriginal">
                    <div class="original">
                      Rs <span id="num1"><%=item.price%></span>
                    </div>

                    <div class="discount">
                      <div>
                        SAVE <BR /> <span id="num2"><%=item.offer%></span>%
                      </div>
                    </div>
                  </div>
                </span>
              </div>
              <div id="priceSquare">
                Rs.
                <span id="num3"
                  ><%let
                  price=item.price-((item.offer/100)*item.price)%><%=Math.round(price)%></span
                >
              </div>
            </span>
          </div>
          <%}); %>
        </div>
      </span>
    </div>
    <div id="footer_cont"></div>
  </body>
</html>
<script>
  window.addEventListener("load",()=>{
          '<% let prod=products; %>'
    });
  function redirectToPage(item) {
    window.location.href = "/viewproduct?id=" + item;
  }
  function sortByBrand()
  {
      let brand = document.getElementsByClassName("brand");
      let arr=[];
      for(let i=0;i<brand.length;i++)
      {
            let brand_val=brand[i].value;
            if(brand[i].checked)
            {
                arr.push(brand_val);
            }
      }
      let main_div=document.getElementById("main_item_list");
      let str="";
      '<% for(let i=0;i<products.length;i++){%>'
        
         for(let j=0;j<arr.length;j++) 
         {
              if(arr[j]=='<%= products[i].brand_id.brand_name %>')
              {
                '<% let item=products[i] %>'
                str+=`
          <div
            id="searchResultsRightContainer"
            onclick="redirectToPage('<%=item._id%>')"
          >
            <span style="display: flex">
              <div class="productListRow">
                <span>
                  <div class="productListRowText">
                    <%=item.brand_id.brand_name%>
                    <br />
                    <%=item.product_name%>
                    <br />
                    <%=item.size[0]%>
                  </div>

                  <img src="<%=item.image_url_1%>" alt="" />

                  <div class="discountNoriginal">
                    <div class="original">
                      Rs <span id="num1"><%=item.price%></span>
                    </div>

                    <div class="discount">
                      <div>
                        SAVE <BR /> <span id="num2"><%=item.offer%></span>%
                      </div>
                    </div>
                  </div>
                </span>
              </div>
              <div id="priceSquare">
                Rs.
                <span id="num3"
                  ><%let
                  price=item.price-((item.offer/100)*item.price)%><%=Math.round(price)%></span
                >
              </div>
            </span>
          </div>
          `;
                main_div.innerHTML="";
                main_div.innerHTML=str;
                break;
              }
          }
         
        '<%} %>'     
  }

  function sortByType()
  {
    let types= document.getElementsByClassName("type");
    let arr=[];
      for(let i=0;i<types.length;i++)
      {
            let types_val=types[i].value;
            if(types[i].checked)
            {
                arr.push(types_val);
            }
      }
      let main_div=document.getElementById("main_item_list");
      let str="";
      '<% for(let i=0;i<products.length;i++){%>'
        
         for(let j=0;j<arr.length;j++) 
         {
              if(arr[j]=='<%= products[i].type_id.type_name %>')
              {
                '<% let item=products[i] %>'
                str+=`
          <div
            id="searchResultsRightContainer"
            onclick="redirectToPage('<%=item._id%>')"
          >
            <span style="display: flex">
              <div class="productListRow">
                <span>
                  <div class="productListRowText">
                    <%=item.brand_id.brand_name%>
                    <br />
                    <%=item.product_name%>
                    <br />
                    <%=item.size[0]%>
                  </div>

                  <img src="<%=item.image_url_1%>" alt="" />

                  <div class="discountNoriginal">
                    <div class="original">
                      Rs <span id="num1"><%=item.price%></span>
                    </div>

                    <div class="discount">
                      <div>
                        SAVE <BR /> <span id="num2"><%=item.offer%></span>%
                      </div>
                    </div>
                  </div>
                </span>
              </div>
              <div id="priceSquare">
                Rs.
                <span id="num3"
                  ><%let
                  price=item.price-((item.offer/100)*item.price)%><%=Math.round(price)%></span
                >
              </div>
            </span>
          </div>
          `;
                main_div.innerHTML="";
                main_div.innerHTML=str;
                break;
              }
          }
         
        '<%} %>'   
  }

  function sortByPrice()
  {
      let price=document.getElementsByName("sort_price");
      let main_div=document.getElementById("main_item_list");
      for(let i=0;i<price.length;i++)
      {
        if(price[i].checked)
        {
             let res=price[i].value;
             if(res=="lth")
             {
              let str="";
                  '<% let prod2=products.sort((a,b)=>{  return a.price-b.price  }); %>'
                  '<% for(let j=0;j<prod2.length;j++){ let item=prod2[j]; %>'
                  str+=` <div
            id="searchResultsRightContainer"
            onclick="redirectToPage('<%=item._id%>')"
          >
            <span style="display: flex">
              <div class="productListRow">
                <span>
                  <div class="productListRowText">
                    <%=item.brand_id.brand_name%>
                    <br />
                    <%=item.product_name%>
                    <br />
                    <%=item.size[0]%>
                  </div>

                  <img src="<%=item.image_url_1%>" alt="" />

                  <div class="discountNoriginal">
                    <div class="original">
                      Rs <span id="num1"><%=item.price%></span>
                    </div>

                    <div class="discount">
                      <div>
                        SAVE <BR /> <span id="num2"><%=item.offer%></span>%
                      </div>
                    </div>
                  </div>
                </span>
              </div>
              <div id="priceSquare">
                Rs.
                <span id="num3"
                  ><%let
                  price=item.price-((item.offer/100)*item.price)%><%=Math.round(price)%></span
                >
              </div>
            </span>
          </div>`;
          
          main_div.innerHTML="";
                main_div.innerHTML=str;
                '<%}%>' 
             }
             else if(res=="htl")
             {
                 let str="";
                 '<% let prod3=products.sort((a,b)=>{  return b.price-a.price  }); %>'
                 '<% for(let j=0;j<prod2.length;j++){ let item=prod2[j]; %>'
                  str+=` <div
            id="searchResultsRightContainer"
            onclick="redirectToPage('<%=item._id%>')"
          >
            <span style="display: flex">
              <div class="productListRow">
                <span>
                  <div class="productListRowText">
                    <%=item.brand_id.brand_name%>
                    <br />
                    <%=item.product_name%>
                    <br />
                    <%=item.size[0]%>
                  </div>

                  <img src="<%=item.image_url_1%>" alt="" />

                  <div class="discountNoriginal">
                    <div class="original">
                      Rs <span id="num1"><%=item.price%></span>
                    </div>

                    <div class="discount">
                      <div>
                        SAVE <BR /> <span id="num2"><%=item.offer%></span>%
                      </div>
                    </div>
                  </div>
                </span>
              </div>
              <div id="priceSquare">
                Rs.
                <span id="num3"
                  ><%let
                  price=item.price-((item.offer/100)*item.price)%><%=Math.round(price)%></span
                >
              </div>
            </span>
          </div>`;
          
          main_div.innerHTML="";
                main_div.innerHTML=str;
                '<%}%>' 
             }

             break;
        }
        
      }
  }
  
</script>

<script type="module">
  import { footer } from "./user/script/footer.js";
  let footer_cont = document.getElementById("footer_cont");
  footer_cont.innerHTML = footer();

  import navbar from "./user/components/navbar.js";
  let container = document.getElementById("nav_container");
  container.innerHTML = navbar;

  let searchButton = document.getElementById("searchButton");
  searchButton.addEventListener("click", searchfn);

  //Debouncing part
  let searchBar = document.getElementById("searchBar");
  searchBar.addEventListener("keydown", fn);

  let cont_1 = document.getElementById("container");
  cont_1.addEventListener("click", function () {
    let search_div = document.getElementById("search_div");
    search_div.innerHTML = "";
    search_div.style.height = "0px";
  });
  let cont_2 = document.getElementById("nav_container");
  cont_2.addEventListener("click", function () {
    let search_div = document.getElementById("search_div");
    search_div.innerHTML = "";
    search_div.style.height = "0px";
  });
  let signin_icon = document.getElementById("signin_icon");
  signin_icon.addEventListener("click", function () {
    window.location.href = "/auth";
  });
  let bag_icon = document.getElementById("bag_icon");
  bag_icon.addEventListener("click", function () {
    window.location.href = "/cart";
  });

  function searchfn() {
    let txt = document.getElementById("searchBar").value;
    window.location.href = "/searchpage?txt=" + txt;
  }
  async function fn(e) {
    if (e.key == "Enter") {
      searchfn();
    }
    let searchBar = document.getElementById("searchBar");
    let search_txt = searchBar.value;

    let search_div = document.getElementById("search_div");
    search_div.innerHTML = "";
    search_div.style.height = "0px";
    let res = await fetch("/products");
    let data = await res.json();
    data = data.data;

    var arr = [];
    data.forEach((item) => {
      let txt = search_txt.toLowerCase();
      let title = item.product_name.toLowerCase();
      if (title.indexOf(search_txt) != -1) {
        arr.push(item);
      }
    });
    if (data != null && arr.length != 0) {
      if (arr.length != 0) {
        let search_div = document.getElementById("search_div");
        search_div.innerHTML = "";
        arr.forEach((item, ind) => {
          let div = document.createElement("div");
          div.innerHTML = item.product_name;
          div.setAttribute("id", "search_sub_div");
          div.addEventListener("click", async function () {
            //console.log(item);
            window.location.href = "/viewproduct?id=" + item._id;
          });
          search_div.style.height = search_div.offsetHeight + 40 + "px";
          let size = search_div.offsetHeight;
          if (size <= 150) {
            search_div.style.overflowY = "unset";
          } else {
            search_div.style.overflowY = "scroll";
          }
          search_div.append(div);
        });
      }
    }
  }
</script>
